
@media (max-width: 5000px){
    .core_feature_wrapper .img{ left: 150px;}
}

@media (max-width: 1770px){
    .core_feature_wrapper .img{ left: 50px;}
}

@media (max-width: 1570px){
    .core_feature_wrapper .img{left: 0;}
}
@media (max-width: 1200px){
    .create_account_wrapper .account_form{margin-right: 100px;}
}
@media (max-width: 1200px){
    .create_account_wrapper .account_form{margin-right:0}
}
/* 720px*/
@media all and (max-width: 576px){
    p{font-size: 14px;}
    .banner-wrapper{background-image: none; margin-top: 0px;}
    .core_feature_wrapper{margin-top: -150px;}
    .core_feature_wrapper .img{left: 75%;}
    .create_account_wrapper, .invite_frined_wrapper{margin-top: 0px; padding: 50px 0;}
    .create_account_wrapper p, .invite_frined_wrapper p{margin: 20px 0 30px 0;}
}