/* Fonts */
@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Light.ttf);
}
@font-face {
    font-family: "Avenir";
    src: url('../fonts/Avenir\ LT\ Std\ 35\ Light.otf');
}

:root{
    /* Colors */

    --primary-color: #15354b;
    --secondary-color: #506770;
    --blue: #80e0dd;
    --green: #b1ea8c;
    --yellow: #ffe35a;
    --orange: #ef7f65;

    /* Fonts */
    --font-primary: 'Avenir', sans-serif;
    --paragraph: 'Rubik', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background-color: var(--bg-dark-blue);
} 

::-webkit-scrollbar-thumb{
    background: var(--orange);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--blue);
    border-radius: 15px;
}

/* ::-webkit-scrollbar-track-piece{
    background: var(--primary-color); // Background do scroolbar
} */

a{text-decoration: none;}
/* Buttons */

.btn-primary{min-width: 270px; height: 55px; display: inline-block; background: transparent; border:solid 1px var(--secondary-color); border-radius: 100px; color: var(--secondary-color); text-align: center; line-height: 50px; transition: 0.3s; margin: 60px 0;}
.btn-primary:hover{background: var(--secondary-color); color: #fff; border:solid 1px var(--secondary-color);}
.btn-sections{width: 150px; height: 45px; display: flex; justify-content: center; align-items: center; color: #fff; border-radius: 5px; transition: all .3s;}
.blue{background: var(--blue);}
.blue:hover{background: var(--orange); color: #fff;}
.orange{background: var(--orange);}
.orange:hover{background: var(--blue); color: #fff;}
.btn-prices{width: 180px; height: 45px; display: flex; justify-content: center; align-items: center; color: #fff; border-radius: 100px;}
.price-blue{background: var(--blue);}
.price-blue:hover{background: var(--orange); color: #fff;}
.price-orange{background: var(--orange);}
.price-orange:hover{background: var(--blue); color: #fff;}
.btn-subscribe{width: 270px; height: 60px; display: flex; justify-content: center; align-items: center; border-radius: 100px; background: var(--blue); color: #fff; box-shadow: 0 5px 10px #80e0dd8e; font-size: 20px;}
.btn-subscribe:hover{background: var(--orange); box-shadow: 0 5px 10px #ef7f65; color: #fff;}

html{scrollbar-width: thin;}
/* Header */
header .navbar{-webkit-transition: all .2s linear; transition: all .2s linear; -o-transition: all .2s linear;}
header .nav-item{margin: 0 20px;}
header .nav-link{font-family: 'Avenir', sans-serif; color: var(--secondary-color);}
header .nav-link:hover{color: var(--orange);}
header .navbar-toggler{color: var(--blue); font-size: 1.5em; border: none; margin-top:15px;}
header .navbar-toggler:focus{box-shadow: none;}
header .navbar-nav{background: #fff;}
header .header-scrolled{background: #fff; position: fixed; left: 0; right: 0; width: 100%; -webkit-box-shadow: 0 4px 6px 0 rgba(235, 235, 235, 0.5); box-shadow: 0 4px 6px 0 rgba(235, 235, 235, 0.5);}

/* Banner */
.banner-wrapper{width: 100%; margin-top: 90px; padding-top: 50px; background-image: url('../assets/bg.svg'); background-size: contain; background-position: top center; background-repeat: no-repeat}
.banner-wrapper .row{height: 90vh;}
.banner-wrapper h1{margin-bottom: 35px; color: var(--primary-color);}
.banner-wrapper p{color: var(--secondary-color);}

.red{border: solid 1px red;}